@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body{
    width: 100vw;
    height: 100vh;
}
#header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px 15px;
    position: fixed;
    top: 0px;
    z-index: 100;

}


#header .spotify-logo{
    width: 30px;
    height: 38px;
    display: flex;
    justify-content: flex-start;
}

#header .mid{
    display: flex;
    align-items: center;
    gap:0px 20px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .mid .home{
    width: 48px;
    height: 48px;
    background-color: #1f1f1f;
    caret-color: white;
    display: flex ;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}
#header .mid .home img{
    height: 30px;
    width: 30px;
}

#header .mid .search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 25px;
    width: 424pxf;
    height: 48px;
    padding: 0px 10px;
    gap: 0 10px;
    background-color: #1f1f1f;
}

#header .search-container input{
    width:100%;
    border: none;
    outline: none;
    border-right: 0.5px solid #1f1f1f;
    font-size: 15px;
    background: none;
    caret-color: white;
    color: rgb(115, 112, 112);
}

#header .search-container .search-bar,
#header .search-container .cart
{
display: inline-flex;
align-items:center ;
justify-content: center;
}
#header .search-container .search-bar img,
#header .search-container .cart img{
    width: 25px;
    height: 25px;
}


#header .right{
    display: flex;
}
#header .right button{
    padding:13px 28px ;
    border-radius:20px ;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;    
}
#header .right button:hover{
    cursor: pointer;
}

#header .right button :first-of-type{
    background: none;
    color: rgb(162, 160, 160);
}